@use 'fonts';
@use 'null';

.content {
    width: 100%;
    min-height: 100dvh;
    background: url('/img/bg.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    align-items: center;

    .header,
    .footer {
        width: 100%;
        // height: 100px;
        // background-color: red;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 12px;
        max-width: 1000px;
        margin: 0 auto;

        @media(max-width: 800px) {
            flex-wrap: wrap;
        }
    }

    .link {
        font-size: 62px;
        text-shadow: 4.00px 0.00px #000, 3.70px 1.53px #000, 2.83px 2.83px #000, 1.53px 3.70px #000, 0.00px 4.00px #000, -1.53px 3.70px #000, -2.83px 2.83px #000, -3.70px 1.53px #000, -4.00px 0.00px #000, -3.70px -1.53px #000, -2.83px -2.83px #000, -1.53px -3.70px #000, -0.00px -4.00px #000, 1.53px -3.70px #000, 2.83px -2.83px #000, 3.70px -1.53px #000;
        color: #c8e4ed;

        @media(max-width: 800px) {
            width: 100%;
            text-align: center;
        }
    }

    .img {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        img {
            width: 90%;
            max-width: 1000px;
            max-height: 60vh;
            object-fit: contain;
        }
    }

}